*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-nav-container{
    width: 100%;
   margin-left: 26%;
  
}
.nav{
    background-color: #1d767a;
    width: 50%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 1px 1px 3px black;
    transition: 0.2s ease-in;
}

.portfolio-logo {
    padding: 5px;
    margin: auto 0;
    margin-left: 15px;
    border-radius: 20px;

}
/* .portfolio-logo img{
  
} */
.nav-list{
    display: flex;
    justify-content: space-around;
}

.Home,.Projects{
    margin: auto 0;
    margin-right: 60px;
}
.skills-contact{
    margin: auto 0;
}
.skills-contact h2{
    font-size:20px;
    color: #9db6b5;
    text-shadow: 1px 1px 3px rgb(32, 31, 31);
}

.Home h2,.Projects h2{
    font-family: 'IM Fell French Canon SC', serif;
    color: #9db6b5;
    font-size:20px;
    text-shadow: 1px 1px 3px rgb(32, 31, 31);
    transition: 0.3s ease-in;
}
.Home h2:hover,.Projects h2:hover ,.skills-contact h2:hover{
    transition: 0.3s ease-out;
    transform: translateY(-2px);
}

.Home a ,.Projects a, .skills-contact a{
    color: #d0d1b9;
    text-decoration: none;
    
}

.nav:hover{
    transition: 0.3s ease-out;
    background-color: #125558;
    box-shadow: 1px 1px 10px rgb(119, 205, 240);
}

